# Misc
*.pyc
*/debug.py
*/debug.ipynb
*/tutorial.py
code/utils/keychain.py

# Data
data/mmlu
data/reasoning

*.mid

*.npy
*.npz
*.hi

*.json
*.jsonl
*.csv

*.jpg
*.png
*.pdf

*.zip

# Models
*.pt

# Results
results 

# sh
*.err
*.out